@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: font;
  src: url("../public//Fonts/CircularXXWeb-Book\ \(3\).woff2");
}

.scrollHidden::-webkit-scrollbar {
  display: none;
}